@media (max-width:750px) {
  header,main,footer{
    width:100%;
  }
header .fa-bars{
  display:block !important;
}

.menu-list{
  margin-top:50px;
}

.menu-list li{
  margin-bottom:20px;
}
.menu-list li {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  color:#0D0015;
}
.menu-list li::after {
  position: absolute;
  bottom: -8px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.menu-list li:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}
a{
  text-decoration:none !important;

}

  .nav ul{
    display:none !important;

  }
  .wrapper{



  }
  .all-card{
    display:block !important;
    width:100%;
    box-sizing:border-box;
    padding-left:0px !important;

  }
  .card-list{
    width:100% !important;
    margin-left:10px;
    box-sizing: border-box;
    padding:0px 10px;



  }

  .card{
    box-sizing: border-box!important;
    height:auto !important;
  }
  .card-body{
    box-sizing:border-box;
    width:100%;
  }
  .side-colum{
    width:100%;
    box-sizing: border-box;
    padding:0px 10px;
  }
  .side-card{
    width:100%!important;
    margin-left:0px !important;
    margin-right:10px !important;

  }
  .profile{
    width:100% !important;
    margin-right: 10px!important;
    margin-left:0px !important;
  }
  .recent_post{
    width:100%!important;
    margin-left:0px !important;


  }
  .cg{
    width:100%!important;
    margin-left:0px !important;


  }
  .tg{
    width:100%!important;
    margin-left:0px !important;




  }
.serch{
  width:100%!important;
  margin-left:0px !important;


}
.recommend{
  width:100%!important;
  margin-left:0px !important;

}

select{
  margin-left: 0px !important;
  margin-right:0px !important;
  width:100% !important;

}
input{
  margin-left: 0px !important;
  margin-right:0px !important;
  box-sizing:border-box;
  width:100% !important;
}

  footer{
    height:auto !important;
  }
  .footer_list{
    display:block!important;
  }

  .f_theme{
    width:100%!important;
    box-sizing:border-box !important;
    padding-left: 20px !important;
    padding-right:20px !important;
  }
  .tag{
    margin-left:0px !important;
      margin-right:0px !important;
    width:100%;
    box-sizing:border-box;
    padding-right:10px;
    padding-left:10px;
  }
  .tag h4{
    border-left:none !important;
    border-bottom:solid 2px #9acc1e;
    font-size:18px !important;
    margin-bottom:20px;
  }
  .category{
    margin-left:0px !important;
      margin-right:0px !important;
      width:100%;
      box-sizing:border-box;
      padding-right:10px;
      padding-left:10px;
  }
  .category p{
    margin-left:0px !important;
    border-left:none !important;
    border-bottom:solid 2px #9acc1e;
  }
  .category ul{
    padding-left:0px !important;
  }
  .category li{
    display:block;
    border-bottom: solid 2px #fff;
    padding:12px 0px;
    font-size:16px;
    font-weight:500;
  }
  .archives{
    margin-left:0px  !important;
      margin-right:0px !important;
      width:100%;
      box-sizing:border-box;
      padding-right:10px;
      padding-left:10px;
  }
  .archives p{
    margin-left:0px !important;
    border-left:none !important;
    border-bottom:solid 2px #9acc1e;
  }
  .archives ul{
    padding-left:0px !important;
  }
  .archives li{
    display:block;
    border-bottom: solid 2px #fff;
    padding:12px 0px;
    font-size:16px;
    font-weight:500;
  }
  .popular{
    margin-left:0px  !important;
      margin-right:0px !important;
      width:100% !important;
      box-sizing:border-box !important;
      padding-right:10px;
      padding-left:10px;
  }
  .popular_theme{
     border-bottom:solid 2px #9ACC1E;
     border-left: none!important;
  }
  .popular_list{
    box-sizing: border-box;
    padding-right:10px;

  }
}

@media (min-width:1200px){
  .all-card{
    width:1170px!important;
    margin:auto;

  }



}

@media (min-width:992px){
  .all-card{
    width:970px;
    margin:auto;

  }

}
@media (min-width:768px){
  .all-card{
    width:750px;
    margin:auto;

  }

}
